

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
Author's custom styles
========================================================================== */
body{
    margin:0px;
    max-width:760px;
}

nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 22px 131px 24px 0px;
    background: linear-gradient(#76278F, #2B1E66);
}


.container_nav{
    height: auto;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700px;
    color:#fff;
}

.navbar_list{
    width: 370px;
    float: right;
}

.navbar_list_element{
    display:inline;
    text-decoration:none;
    margin: 7px;
    font-size: 18px;
}

li button{
    text-decoration:none;
}

button{
    background-color: #18bc9c;
    padding: 8px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size:24px;
    text-transform: capitalize;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================

   ========================================================================== */
