
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
nav
========================================================================== */
body{
    margin:0px;
    max-width:760px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

nav{
    color:#fff;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0px 131px 130px 0px;
    background: linear-gradient(#76278F, #2B1E66);
}

.container_nav{
    height: auto;
    font-size:18px;
    position:relative;
}

.navbar_list{
    width: 280px;
    position:absolute;
    right: 354px;
    top: 22px;
}

.navbar_list_element{
    display:inline;
    text-decoration:none;
    margin: 7px;
    font-size: 18px;
}

li button{
    text-decoration:none;
}

button{
    background: linear-gradient(#76278F, #2B1E66);
    position:relative;
    left:264px;
    bottom: 54px;
    padding: 8px;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    border: 2px solid #fff;
    border-color: transparent transparent #fff transparent
}

/* ========================Header========================= */

.container-background{
    height: auto;
    font-family: 'Montserrat',sans-serif;
    padding: 0;
    width: 100%;
    background: linear-gradient(#76278F, #2B1E66);
}
.background-logo {
    background-image: url("../assets/images/hero.gif");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 400px;
    padding: 100px;
    position: relative;
  }
.container-form-logo{
    height: auto;
    width: 40%;
    padding: 30px;
    line-height: 1.5px;
    font-family: 'Montserrat',sans-serif;
    background-color: #fff;
    color: #352384;
    text-align: center;
    outline: 1px solid yellow;
    float: right;
}
.contact_form{
    text-align: center;
    padding: 0px 200px 0px 200px;
    font-size:24px;
}
input[type=text] {
    width: 100%;
    padding: 20px 20px;
    margin: 15px 0;
    display: inline-block;
    border:  #fff;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

input[type=driver] {
    width: 25%;
    background-color: #ff00bf;
    color: white;
    padding: 20px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}